<header class="masthead d-flex">
  <div class="blackbackground"></div>
  <div class="background"></div>
  <div class="container text-center mt-auto mb-0">
    <h1 class="mb-1">
      <a href="/">
        <img src="/assets/img/logo.png" style="max-width: 100%"
      /></a>
    </h1>
    <h3 class="mb-5 text-light">
      <em>Optimizing Your Products since 2018</em>
    </h3>
    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about"
      >Find Out More</a
    >
  </div>
  <div class="overlay"></div>
</header>
